<div class="main-company">

  <div class="company-info">
    <div class="title family-montserrat weight-bold size-30 color-DCDBDB">Nosotros</div>
    <div class="mission-statement">
      <p class="mission family-montserrat weight-bold size-23">Somos una agencia respaldada con mas de 10 años de experiencia. Dedicados a hacer realidad el viaje de tus sueños.</p>
      <p class="mission family-montserrat weight-bold size-23 ">Contamos con viajes nacionales e internacioles, excursiones, tours, cruceros, hoteles, vuelos, renta de autos. Cuentanos, ¿A donde quieres viajar?</p>
      <p class="statement family-montserrat weight-bold size-30 color-DCDBDB">Al viajar, somos tu mejor opción!!</p>
    </div>
  </div>

  <div class="company-mission">
      <img src="../../../assets/img/logos/mission.png" />
  </div>

</div>
