<div class="main">
  <div class="logo">
    <img class="main-logo" src="../../../assets/img/logos/main-logo.jpg"/>
  </div>
  <div class="menu menu-select family-montserrat weight-bold size-15 color-black" routerLinkActive="active" routerLink="/ofertas/viajar">Mis Ofertas</div>
  <div class="menu menu-select family-montserrat weight-bold size-15 color-black" routerLinkActive="active" routerLink="/ofertas/caja">Destinos</div>
  <div class="menu family-montserrat weight-bold size-15 color-black">Hoteles</div>
  <div class="menu family-montserrat weight-bold size-15 color-black">Tour</div>
  <div class="menu family-montserrat weight-bold size-15 color-black">Autos</div>
  <div class="menu menu-select family-montserrat weight-bold size-15 color-black" routerLinkActive="active" routerLink="/ofertas/nosotros">La empresa</div>
  <div class="icon-cel"><img src="../../../assets/img/icons/phone.svg" class="icon-size" /></div>  
  <div class="menu cel-number family-montserrat weight-bold size-15 color-black">01 614 421 4116</div>
  <div class="button-booking family-montserrat weight-bold size-15 color-black"><a class="get-book family-montserrat weight-bold size-15" href="http://voucher.bdtravelsolution.com.mx/Reservations/PrintVoucher.aspx">Consulta tu reserva</a></div>
</div>
