<div class="main-footer">
  <div class="title family-montserrat weight-bold size-30 color-DCDBDB">CONTACTO</div>
  <div class="contact">
    <div class="logo"><img class="icon-size" src="../../../assets/img/icons/skype.png" /></div>
    <div class="info family-montserrat weight-bold size-20 color-DCDBDB">alviajar</div>
    <div class="logo"><img class="icon-size" src="../../../assets/img/icons/email.png" /></div>
    <div class="info family-montserrat weight-bold size-20 color-DCDBDB">alviajar@hotmail.com</div>
    <div class="logo"><img class="icon-size" src="../../../assets/img/icons/whatsapp.png" /></div>
    <div class="info family-montserrat weight-bold size-20 color-DCDBDB">01 614 421 4116</div>
    <div class="logo"><img class="icon-size" src="../../../assets/img/icons/facebook.jpg" /></div>
    <div class="info family-montserrat weight-bold size-20 color-DCDBDB">alviajarcuu</div>
  </div>
</div>
