<app-search-box></app-search-box>
<app-item-etravel id="Destinos" [titleItem]="titleDestinos" [items]="etravelDestinos"></app-item-etravel>
<app-item-etravel id="Hoteles" [titleItem]="titleHotel" [items]="etravelHotel"></app-item-etravel>
<a id="Tour">
    <app-item-etravel [titleItem]="titleTours" [items]="etravelTours"></app-item-etravel>
</a>
<app-item-etravel id="Autos" [titleItem]="titleAutos" [items]="etravelAutos"></app-item-etravel>
<app-item-etravel [titleItem]="titleTraslados" [items]="etravelTraslados"></app-item-etravel>
